## Descripción del Problema
El problema se enmarca en el Sistema de Vigilancia de Salud Pública (Sivigila), que recopila y analiza datos de los casos de diferentes patologias notificados y confirmados por laboratorio o nexo epidemiológico en Colombia.

En el presente trabajo se pretende realizar un realizar un análisis exploratorio sobre el conjunto de datos epidemiológicos obtenidos del sistema SIVIGILA (Colombia) centrado en la patologia DENGUE en el periodo 2022-2024 enfocado en detectar patrones, tendencias y posibles predicciones de esta enfermedad.

El conjunto de datos esta disponible en: https://portalsivigila.ins.gov.co/Paginas/Buscador.aspx

### Importar librerias

In [1]:
import pandas as pd
from pathlib import Path
import sys

# Agregar el directorio raíz del proyecto al sys.path para permitir importaciones de utilidades realizadas
project_root = Path.cwd().parent
sys.path.insert(0, str(project_root))

# Importar la función directamente desde el paquete src para cargar los datos
from src import data_utils

### Carga Datos
En esta sección se realiza la unión de los archivos descargados desde el portal del SIVIGILA, utilizando el módulo de utilidades. Posteriormente, se convierten en un único archivo CSV consolidado para su análisis.

In [18]:
## Cargar los datos utilizando la función del módulo data_utils

df = data_utils.cargar_excels()
data_utils.guardar_dataframe(df, 'datos_full')

En esta sección se realiza la lectura del archivo CSV previamente generado, con el fin de disponer de los datos unificados para su posterior análisis.

In [19]:
df = pd.read_csv('../data/processed/datos_full.csv')

C:\Users\edavi\AppData\Local\Temp\ipykernel_26164\2064948220.py:1: DtypeWarning: Columns (16,22,28,56,57) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/processed/datos_full.csv')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501729 entries, 0 to 501728
Data columns (total 73 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CONSECUTIVE                501729 non-null  int64
 1   COD_EVE                    501729 non-null  int64
 2   FEC_NOT                    501729 non-null  object
 3   SEMANA                     501729 non-null  int64
 4   ANO                        501729 non-null  int64
 5   COD_PRE                    501729 non-null  int64
 6   COD_SUB                    501729 non-null  int64
 7   EDAD                       501729 non-null  int64
 8   UNI_MED                    501729 non-null  int64
 9   nacionalidad               501729 non-null  int64
 10  nombre_nacionalidad        501729 non-null  object
 11  SEXO                       501729 non-null  object
 12  COD_PAIS_O                 501729 non-null  int64
 13  COD_DPTO_O                 501729 non-null  int64
 14  COD_MUN_O                  501729 non-null  int64
 15  AREA                       501729 non-null  int64
 16  OCUPACION                  501729 non-null  object
 17  TIP_SS                     501729 non-null  object
 18  COD_ASE                    491912 non-null  object
 19  PER_ETN                    501729 non-null  int64
 20  GRU_POB                    0 non-null       float64
 21  nom_grupo                  195437 non-null  object
 22  estrato                    488585 non-null  object
 23  GP_DISCAPA                 501729 non-null  int64
 24  GP_DESPLAZ                 501729 non-null  int64
 25  GP_MIGRANT                 501729 non-null  int64
 26  GP_CARCELA                 501729 non-null  int64
 27  GP_GESTAN                  501729 non-null  int64
 28  sem_ges                    193726 non-null  object
 29  GP_INDIGEN                 501729 non-null  int64
 30  GP_POBICFB                 501729 non-null  int64
 31  GP_MAD_COM                 501729 non-null  int64
 32  GP_DESMOVI                 501729 non-null  int64
 33  GP_PSIQUIA                 501729 non-null  int64
 34  GP_VIC_VIO                 501729 non-null  int64
 35  GP_OTROS                   501729 non-null  int64
 36  fuente                     501729 non-null  int64
 37  COD_PAIS_R                 501729 non-null  int64
 38  COD_DPTO_R                 501729 non-null  int64
 39  COD_MUN_R                  501729 non-null  int64
 40  COD_DPTO_N                 501729 non-null  int64
 41  COD_MUN_N                  501729 non-null  int64
 42  FEC_CON                    501728 non-null  object
 43  INI_SIN                    501729 non-null  object
 44  TIP_CAS                    501729 non-null  int64
 45  PAC_HOS                    501729 non-null  int64
 46  FEC_HOS                    197946 non-null  object
 47  CON_FIN                    501729 non-null  int64
 48  FEC_DEF                    0 non-null       float64
 49  AJUSTE                     501729 non-null  int64
 50  FECHA_NTO                  501423 non-null  object
 51  CER_DEF                    0 non-null       float64
 52  CBMTE                      0 non-null       float64
 53  FEC_ARC_XL                 501729 non-null  object
 54  FEC_AJU                    501729 non-null  object
 55  FM_FUERZA                  2991 non-null    float64
 56  FM_UNIDAD                  2988 non-null    object
 57  FM_GRADO                   2988 non-null    object
 58  confirmados                501729 non-null  int64
 59  consecutive_origen         192102 non-null  float64
 60  va_sispro                  501729 non-null  int64
 61  Estado_final_de_caso       501729 non-null  int64
 62  nom_est_f_caso             501729 non-null  object
 63  Nom_upgd                   498670 non-null  object
 64  Pais_ocurrencia            501729 non-null  object
 65  Nombre_evento              501729 non-null  object
 66  Departamento_ocurrencia    501729 non-null  object
 67  Municipio_ocurrencia       501729 non-null  object
 68  Pais_residencia            501729 non-null  object
 69  Departamento_residencia    501729 non-null  object
 70  Municipio_residencia       501727 non-null  object
 71  Departamento_Notificacion  501729 non-null  object
 72  Municipio_notificacion     501729 non-null  object
dtypes: float64(6), int64(39), object(28)
memory usage: 279.4+ MB

In [21]:
for i in range(0, df.shape[1], 20):
    display(df.describe(include='all').iloc[:, i:i+20])

,CONSECUTIVE,COD_EVE,FEC_NOT,SEMANA,ANO,COD_PRE,COD_SUB,EDAD,UNI_MED,nacionalidad,nombre_nacionalidad,SEXO,COD_PAIS_O,COD_DPTO_O,COD_MUN_O,AREA,OCUPACION,TIP_SS,COD_ASE,PER_ETN
count,5.017290e+05,501729.0,501729,501729.000000,501729.000000,5.017290e+05,501729.000000,501729.000000,501729.000000,501729.000000,501729,501729,501729.000000,501729.000000,501729.000000,501729.000000,501729.00,501729,491912,501729.000000
unique,NaN,NaN,1170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134,2,NaN,NaN,NaN,NaN,1292.00,6,135,NaN
top,NaN,NaN,2024-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COLOMBIA,M,NaN,NaN,NaN,NaN,99999.05,S,EPS005,NaN
freq,NaN,NaN,1787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,304076,253726,NaN,NaN,NaN,NaN,182131.00,245020,48534,NaN
mean,1.074094e+07,210.0,NaN,26.333979,2023.486191,5.166173e+09,4.860502,23.458742,1.015211,183.148546,NaN,NaN,170.902677,51.729749,274.456113,1.279816,NaN,NaN,NaN,5.887274
std,7.292422e+05,0.0,NaN,14.380470,0.715310,2.675821e+09,11.408558,18.814008,0.125893,94.149055,NaN,NaN,24.691469,26.605085,294.655099,0.644550,NaN,NaN,NaN,0.637264
min,8.908033e+06,210.0,NaN,1.000000,2022.000000,5.001000e+08,0.000000,1.000000,1.000000,4.000000,NaN,NaN,4.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,1.000000
25%,1.030206e+07,210.0,NaN,15.000000,2023.000000,2.318201e+09,1.000000,10.000000,1.000000,170.000000,NaN,NaN,170.000000,23.000000,1.000000,1.000000,NaN,NaN,NaN,6.000000
50%,1.096060e+07,210.0,NaN,25.000000,2024.000000,6.600102e+09,1.000000,17.000000,1.000000,170.000000,NaN,NaN,170.000000,66.000000,182.000000,1.000000,NaN,NaN,NaN,6.000000
75%,1.131224e+07,210.0,NaN,38.000000,2024.000000,7.600103e+09,2.000000,32.000000,1.000000,170.000000,NaN,NaN,170.000000,76.000000,520.000000,1.000000,NaN,NaN,NaN,6.000000
max,1.174764e+07,210.0,NaN,52.000000,2024.000000,9.977384e+09,99.000000,122.000000,4.000000,862.000000,NaN,NaN,862.000000,99.000000,980.000000,3.000000,NaN,NaN,NaN,6.000000

,GRU_POB,nom_grupo,estrato,GP_DISCAPA,GP_DESPLAZ,GP_MIGRANT,GP_CARCELA,GP_GESTAN,sem_ges,GP_INDIGEN,GP_POBICFB,GP_MAD_COM,GP_DESMOVI,GP_PSIQUIA,GP_VIC_VIO,GP_OTROS,fuente,COD_PAIS_R,COD_DPTO_R,COD_MUN_R
count,0.0,195437,488585.0,501729.000000,501729.000000,501729.000000,501729.000000,501729.000000,193726,501729.000000,501729.000000,501729.000000,501729.000000,501729.000000,501729.000000,501729.000000,501729.000000,501729.000000,501729.000000,501729.000000
unique,NaN,176,19.0,NaN,NaN,NaN,NaN,NaN,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,188221,116783.0,NaN,NaN,NaN,NaN,NaN,191124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,1.998553,1.996199,1.989530,1.999534,1.994810,NaN,1.999759,1.999587,1.999932,1.999853,1.999749,1.998304,1.023547,1.051167,170.742855,51.314377,268.888244
std,NaN,NaN,NaN,0.038012,0.061534,0.101785,0.021591,0.071855,NaN,0.015528,0.020308,0.008232,0.012144,0.015845,0.041149,0.151632,0.252816,22.689167,26.809708,294.187683
min,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,4.000000,1.000000,1.000000
25%,NaN,NaN,NaN,2.000000,2.000000,2.000000,2.000000,2.000000,NaN,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,170.000000,23.000000,1.000000
50%,NaN,NaN,NaN,2.000000,2.000000,2.000000,2.000000,2.000000,NaN,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,170.000000,66.000000,168.000000
75%,NaN,NaN,NaN,2.000000,2.000000,2.000000,2.000000,2.000000,NaN,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,170.000000,76.000000,520.000000
max,NaN,NaN,NaN,2.000000,2.000000,2.000000,2.000000,2.000000,NaN,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5.000000,862.000000,99.000000,980.000000

,COD_DPTO_N,COD_MUN_N,FEC_CON,INI_SIN,TIP_CAS,PAC_HOS,FEC_HOS,CON_FIN,FEC_DEF,AJUSTE,FECHA_NTO,CER_DEF,CBMTE,FEC_ARC_XL,FEC_AJU,FM_FUERZA,FM_UNIDAD,FM_GRADO,confirmados,consecutive_origen
count,501729.000000,501729.000000,501728,501729,501729.000000,501729.000000,197946,501729.0,0.0,501729.000000,501423,0.0,0.0,501729,501729,2991.000000,2988.0,2988.0,501729.000000,192102.000000
unique,NaN,NaN,1120,1092,NaN,NaN,1120,NaN,NaN,NaN,32369,NaN,NaN,1129,1182,NaN,303.0,78.0,NaN,NaN
top,NaN,NaN,2024-06-11,2024-05-20,NaN,NaN,2024-05-23,NaN,NaN,NaN,2012-09-13,NaN,NaN,2023-10-24,2023-10-24,NaN,1.0,0.0,NaN,NaN
freq,NaN,NaN,1685,1563,NaN,NaN,485,NaN,NaN,NaN,82,NaN,NaN,5897,6750,NaN,1107.0,1725.0,NaN,NaN
mean,51.432752,51661.694758,NaN,NaN,2.423117,1.605472,NaN,1.0,NaN,1.763071,NaN,NaN,NaN,NaN,NaN,3.406553,NaN,NaN,0.773220,53567.257540
std,26.758523,26758.206155,NaN,NaN,0.523996,0.488750,NaN,0.0,NaN,2.106282,NaN,NaN,NaN,NaN,NaN,0.708201,NaN,NaN,0.418749,35320.703758
min,5.000000,5001.000000,NaN,NaN,2.000000,1.000000,NaN,1.0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.000000,1.000000
25%,23.000000,23182.000000,NaN,NaN,2.000000,1.000000,NaN,1.0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,1.000000,24242.250000
50%,66.000000,66001.000000,NaN,NaN,2.000000,2.000000,NaN,1.0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,1.000000,48646.000000
75%,76.000000,76001.000000,NaN,NaN,3.000000,2.000000,NaN,1.0,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,1.000000,79494.750000
max,99.000000,99773.000000,NaN,NaN,5.000000,2.000000,NaN,1.0,NaN,7.000000,NaN,NaN,NaN,NaN,NaN,8.000000,NaN,NaN,1.000000,128231.000000

,va_sispro,Estado_final_de_caso,nom_est_f_caso,Nom_upgd,Pais_ocurrencia,Nombre_evento,Departamento_ocurrencia,Municipio_ocurrencia,Pais_residencia,Departamento_residencia,Municipio_residencia,Departamento_Notificacion,Municipio_notificacion
count,501729.0,501729.000000,501729,498670,501729,501729,501729,501729,501729,501729,501727,501729,501729
unique,NaN,NaN,3,3571,45,1,33,970,49,34,1014,33,870
top,NaN,NaN,Confirmado por laboratorio,FUNDACION CLINICA INFANTIL CLUB NOEL,COLOMBIA,DENGUE,VALLE,CALI,COLOMBIA,VALLE,CALI,VALLE,CALI
freq,NaN,NaN,365207,6628,500760,501729,116309,51550,500974,116013,52362,117121,58203
mean,1.0,2.863867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.624133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.0,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.0,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.0,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.0,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.0,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN